<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons fill="clear" slot="start"  >
            <ion-button (click)="dismiss()">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>
            Novo sonho
        </ion-title>

        <ion-buttons fill="clear" slot="end" >
            <ion-button (click)="save()">
                <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form">
        <ion-list>
            <ion-item>
                <ion-label position="floating">Nome</ion-label>
                <ion-input type="text" formControlName="nome" placeholder="Digite um nome para o seu sonho"></ion-input>
            </ion-item>                  
            <ion-item>
                <ion-label position="floating">Valor</ion-label>
                <ion-input type="text" formControlName="valorTotal" placeholder="Quanto deseja guardar?" [brmasker]="{money: true}"></ion-input>
            </ion-item>                  
            <ion-item>
                <ion-label position="floating">Valor mensal</ion-label>
                <ion-input formControlName="valorMensal" placeholder="Quanto você pode pagar por mês?" [brmasker]="{money: true}"></ion-input>
            </ion-item>                  
            <ion-item>
                <ion-label position="floating">Valor da entrada</ion-label>
                <ion-input type="text" formControlName="valorEntrada" placeholder="Digite um valor inicial para seu sonho" [brmasker]="{money: true}"></ion-input>
            </ion-item>      
            <ion-item>
                <ion-label position="floating">Vencimento todo dia</ion-label>
                <ion-datetime formControlName="diaVencimento" 
                              displayFormat="DD"
                              monthShortNames="Jan, Fev, Mar, Abr, Mai, Jun, Jul, Ago, Set, Out, Nov, Dez"  
                              placeholder="Selecione um dia" 
                              doneText="OK" 
                              cancelText="Cancelar"></ion-datetime>
            </ion-item>      
            
            <ion-item>
                <ion-label position="floating">Primeira parcela</ion-label>
                <ion-datetime formControlName="dataPrimeiraParcela"
                              displayFormat="DD MMM YY"
                              [min]="minDate"
                              monthShortNames="Jan, Fev, Mar, Abr, Mai, Jun, Jul, Ago, Set, Out, Nov, Dez" 
                              placeholder="Selecione" 
                              doneText="OK" 
                              cancelText="Cancelar"></ion-datetime>
            </ion-item>      
            
            <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Selecione uma categoria</ion-card-subtitle>
                  <!-- <ion-card-title>Card Title</ion-card-title> -->
                </ion-card-header>
              
                <ion-card-content>
                    <ion-list>
                        <ion-row>
                            <ion-col class="ion-align-self-start ion-text-center" (click)="selectCategoria('SAUDE')">
                                <div>
                                    <span [class.red]="selectedCategoria == 'SAUDE'">Saude</span><br>
                                    <ion-icon name="fitness" size="large" [class.red]="selectedCategoria == 'SAUDE'"></ion-icon>
                                </div>
                            </ion-col>
                            <ion-col class="ion-align-self-center ion-text-center" (click)="selectCategoria('FINANCEIRO')">
                                <div>
                                    <span [class.green]="selectedCategoria == 'FINANCEIRO'">Financeiro</span><br>
                                    <ion-icon name="cash" size="large" [class.green]="selectedCategoria == 'FINANCEIRO'"></ion-icon>
                                </div>
                            </ion-col>
                            <ion-col class="ion-align-self-end ion-text-center" (click)="selectCategoria('AUTOMOVEL')">
                                <div>
                                    <span [class.blue]="selectedCategoria == 'AUTOMOVEL'">Automovel</span><br> 
                                    <ion-icon name="car" size="large" [class.blue]="selectedCategoria == 'AUTOMOVEL'"></ion-icon>
                                </div>
                            </ion-col>
                        </ion-row>            

                        <ion-row>
                            <ion-col class="ion-align-self-start ion-text-center" (click)="selectCategoria('EDUCACAO')">
                                <div>
                                    <span [class.yellow]="selectedCategoria == 'EDUCACAO'">Educacao</span><br>
                                    <ion-icon name="book" size="large" [class.yellow]="selectedCategoria == 'EDUCACAO'"></ion-icon>
                                </div>
                            </ion-col>
                            <ion-col class="ion-align-self-center ion-text-center" (click)="selectCategoria('VIAGENS')">
                                <div>
                                    <span [class.purple]="selectedCategoria == 'VIAGENS'">Viagens</span><br>
                                    <ion-icon name="airplane" size="large" [class.purple]="selectedCategoria == 'VIAGENS'"></ion-icon>
                                </div>
                            </ion-col>
                            <ion-col class="ion-align-self-end ion-text-center" (click)="selectCategoria('SOCIAL')">
                                <div>
                                    <span [class.orange]="selectedCategoria == 'SOCIAL'">Social</span><br>
                                    <ion-icon name="people" size="large" [class.orange]="selectedCategoria == 'SOCIAL'"></ion-icon>
                                </div>
                            </ion-col>
                        </ion-row>            

                        <ion-row>
                            <ion-col class="ion-align-self-start ion-text-center" (click)="selectCategoria('LAZER')">
                                <div>
                                    <span [class.yellowgreen]="selectedCategoria == 'LAZER'">Lazer</span><br> 
                                    <ion-icon name="bicycle" size="large" [class.yellowgreen]="selectedCategoria == 'LAZER'"></ion-icon>
                                </div>
                            </ion-col>
                            <ion-col class="ion-align-self-center ion-text-center" (click)="selectCategoria('ESPORTE')">
                                <div>
                                    <span [class.slateblue]="selectedCategoria == 'ESPORTE'">Esporte</span><br> 
                                    <ion-icon name="football" size="large" [class.slateblue]="selectedCategoria == 'ESPORTE'"></ion-icon>
                                </div>
                            </ion-col>
                            <ion-col class="ion-align-self-end ion-text-center" (click)="selectCategoria('OUTROS')">
                                <div>
                                    <span [class.orange]="selectedCategoria == 'OUTROS'">Outros</span><br> 
                                    <ion-icon name="ellipsis-horizontal" size="large" [class.orange]="selectedCategoria == 'OUTROS'"></ion-icon>
                                </div>
                            </ion-col>
                        </ion-row>            

                    </ion-list>
                </ion-card-content>
              </ion-card>


        </ion-list>
     </form>
</ion-content> 

