.highlight {
    background-color: #4b9dfa !important ;
    // opacity: 0.1;
    // trans
    
 }

 .red {
     color: red;
 }

 .green {
    color: green;
}

.blue {
    color: blue;
}

.yellow {
    color: yellow;
}

.purple {
    color: purple;
}

.orange {
    color: orange;
}

.slateblue {
    color: slateblue;
}

.yellowgreen {
    color: yellowgreen;
}


.itemBtns {
    color: black;
    font-size: 100%;
    padding-right: 100%;  }
    