<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Meus sonhos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    
  <div *ngIf="!objetivos">
    <div class="custom-skeleton">
      <ion-card>
        <ion-card-header>
          <ion-row>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </ion-row>
        </ion-card-header>
        
        <ion-card-content>
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-row>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </ion-row>
        </ion-card-header>
        
        <ion-card-content>
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-row>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </ion-row>
        </ion-card-header>
        
        <ion-card-content>
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-row>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </ion-row>
        </ion-card-header>
        
        <ion-card-content>
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <ion-card *ngFor="let objetivo of objetivos" style="border-top: 3px solid #e3520e" (click)="detalhesObjetivo(objetivo)">
    <!-- <ion-button fill="clear" class="itemBtns" (click)="detalhesObjetivo(objetivo)">Search for a service</ion-button> -->
    <ion-card-header>
      <ion-row>
        <ion-icon name="{{objetivo.icon}}" style="font-size: 22px;"></ion-icon>
        <ion-card-title>&nbsp;&nbsp;{{objetivo.nome}}</ion-card-title>
      </ion-row>
    </ion-card-header>
    
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-label>
              <ion-icon name="calendar"></ion-icon>
              Vence dia {{objetivo.diaVencimento}}
            </ion-label>
          </ion-col>          
          <ion-col size="8">
            <ion-label>
              <ion-icon name="wallet"></ion-icon>
                <span style="color: green;">{{floatToMonetary(objetivo.valorPago)}}</span>
                /
                <span style="color: red;"> {{floatToMonetary(objetivo.valorTotal)}}</span>
            </ion-label>
          </ion-col>          
        </ion-row>
        <!-- <ion-row>
          <ion-col size="12" class="ion-text-center">
            <ion-button fill="full" (click)="detalhesObjetivo()">Metas</ion-button>
          </ion-col>
        </ion-row> -->
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            Concluido:&nbsp;{{objetivo.percentualConcluido | percent:'1.2'}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-progress-bar color="secondary" value="{{objetivo.percentualConcluido}}"></ion-progress-bar>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary"><ion-icon name="add-outline" (click)="objetivosCreate()"></ion-icon></ion-fab-button>
  </ion-fab>
  

</ion-content>
