<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons fill="clear" slot="start"  >
            <ion-button (click)="dismiss()">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>
            {{objetivo.nome}}
        </ion-title>

        <!-- <ion-buttons fill="clear" slot="end" >
            <ion-button (click)="save()">
                <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
        </ion-buttons> -->

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card style="border-top: 3px solid #07A9A9">
        <ion-card-content>
            <ion-row>
                <ion-col size="12" class="ion-text-center">
                    Metas &nbsp; {{objetivo.parcelasPagas}} / {{objetivo.parcelas.length}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-progress-bar color="secondary" value="{{objetivo.percentualConcluido}}"></ion-progress-bar>
            </ion-row>          
        </ion-card-content>
    </ion-card>

    <ion-card *ngFor="let parcela of objetivo.parcelas; index as i" style="border-top: 3px solid #ffa857;">
        <ion-card-header>
            <ion-row>
                <ion-col size="6">
                    <ion-card-subtitle>Meta {{i+1}}</ion-card-subtitle>
                </ion-col>
                <ion-col size="6" class="ion-text-right">
                    <ion-card-subtitle>{{floatToMonetary(parcela.valor)}}</ion-card-subtitle>
                </ion-col>
            </ion-row>
        </ion-card-header>
        
        <ion-card-content>
            <ion-grid>
                <ion-row class="ion-no-margin ion-no-padding">
                    <ion-col size="8" class="ion-no-margin ion-no-padding">
                        <ion-icon name="calendar-outline" style="font-size: 15px;"></ion-icon> &nbsp;
                        <ion-label>Vencimento: {{formataData(parcela.data)}}</ion-label>
                    </ion-col>
                    <ion-col size="4" *ngIf="parcela.dataPago" class="ion-text-right">
                        <ion-label style="font-size: 20px; color: green;">+{{parcela.pontos?parcela.pontos : 30}}</ion-label>
                    </ion-col>
                    <ion-col class="ion-text-right" *ngIf="!parcela.dataPago" size="4">
                        <ion-button fill="outline" class="ion-no-margin" (click)="pagar(parcela)">PAGAR</ion-button>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="parcela.dataPago" class="ion-no-margin ion-no-padding">
                    <ion-col class="ion-no-margin ion-no-padding">
                        <ion-icon name="calendar" style="font-size: 15px;"></ion-icon> &nbsp;
                        <ion-label>Pagamento: {{formataData(parcela.dataPago)}}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

</ion-content> 

