<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="objetivos">
      <ion-icon name="golf"></ion-icon>
      <ion-label>Objetivos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recompensas">
      <ion-icon name="trophy"></ion-icon>
      <ion-label>Recompensas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
