<ion-content class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="../../assets/images/logo.jpeg"/>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div>
    <form>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label position="floating">Usuário</ion-label>
              <ion-input type="text" [(ngModel)]="formLogin.email" name="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Senha</ion-label>
              <ion-input type="password" [(ngModel)]="formLogin.senha" name="senha"></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
          <ion-button expand="full" color="secondary" full (click)="login()">Entrar</ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="bottom-row" justify-content-center>
        <!-- <a [navPush]="configuracoesPage" [navParams]="params">Configurações</a> -->
      </ion-row>

    </form>
  </div>
</ion-content>


<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
-->
