<ion-content color="primary" fullscreen="true" slot="fixed" >
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="./../../assets/images/avatar.jpg" alt="">
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="user-meta ion-text-center">
      <h3 class="playername">{{userInfo.nome}}</h3>
      <h5 class="country">{{userInfo.email}}</h5>
      <h6> 
        <ion-chip>
          <ion-label>Total guardado</ion-label><ion-label style="color: green;">&nbsp; {{floatToMonetary(saldo)}}</ion-label>
          </ion-chip>
      </h6>
    </div>
    <!-- <ion-button expand="full" color="primary">http://rogerfederer.com</ion-button>
    <ion-button expand="full" color="secondary">@RogerFederer on Twitter</ion-button>
    <ion-button expand="full" color="secondary">View profile at ATP</ion-button> -->
  </div>
</ion-content>