<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Recompensas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" size="12">
        <ion-icon name="trophy" style="color: yellow; font-size: 65px;"></ion-icon>
        <ion-row>
          <ion-col class="ion-text-center" size="12">
            <ion-row>
              <ion-col class="ion-text-center" size="12">
                Você possui<span style="color: green; font-size: 20px;">&nbsp;{{pontos}}</span>&nbsp;pontos.
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-divider></ion-divider> -->
  <ion-list>
    <ion-list-header>
      Parceiros
    </ion-list-header>

    <ion-item *ngFor="let parceiro of parceiros" (click)="resgatar(parceiro)">
      <ion-avatar slot="start">
        <img src="{{parceiro.img}}">
      </ion-avatar>
      <ion-label>
        <h2>{{parceiro.nome}}</h2>
        <h3>{{parceiro.descricao}}</h3>
        <p style="color: green;">100 Pontos</p>
      </ion-label>
      <!-- <ion-label slot="end">
        <h1>{{parceiro.valor}}</h1>
      </ion-label> -->
    </ion-item>
    </ion-list>

</ion-content>
